
<header class="site-border">

  <div class="logo-nav-top">
    <img src="https://s3.amazonaws.com/siteassets.etsy.com/press/Website/etsy-logo.png"/>
  </div>
  <div class="form-container">
      <div class="form-container-inner">
        <%= form_tag("/etsy_search", method: "get", class:"form-container-inner") do %>
        <div class="text-field-wrapper">
          <%= text_field_tag(:q, params[:q], class: "text-field", placeholder: "Search for items or shops") %>
        </div>
        <div class="submit-wrapper">
          <button type="submit" value="Search" class="submit-button">Search</button>
        </div>
        <% end %>
      </div>

  <ul>
    <li class="home">Home</li>
    <li>Favorites</li>
    <li>You</li>
    <li>Cart</li>
  </ul>

</header>

<div class ="content">
  <div class ="side-nav"></div>
  <div class ="content-listing-wrapper">
    <div class ="content-listing">
      <% @listing do |i|
        <div class ="listing-image">
          <%= link_to i["url"] do %>
          <%= image_tag(i["Images"]["listing_image_id"]["url_570xN"], size: "214x170") %>
        <% end %>
        <div class= "listing-details">
          <div class= "listing-desc">
            <%="#{i["title"]}"%>
          </div>
          <div class= "shop-details">
            <%="#{i["shop"]["shop_name"]}"%>
          </div>
          <div class="listing-price">
            <%="#{i["price"] i["currency_code"]}"%>
          </div>
        </div>
        </div>
        <% end %>
    </div>
  </div>
</div>



<footer class="site-border"></footer>
