<!DOCTYPE html>
<html>
<head>
  <title>EtsySearcher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="site_border">
    <div class="logo_nav_top">
      <img src="https://s3.amazonaws.com/siteassets.etsy.com/press/Website/etsy-logo.png"/>
    </div>
    <div class="form_container">
      <%= form_tag("/etsy_search", method: "get") do %>
      <div class="form_container_inner">
        <div class="text_field">
          <%= text_field_tag(:q, params[:q], "Search for items or shops") %>
        </div>
        <div class="submit">
          <%= submit_tag("Search") %>
        </div>
      <% end %>
      </div>
    </div>
    <ul>
      <li>Home</li>
      <li>Favorites</li>
      <li>Cart</li>
    </ul>
  </div>
</header>

<%= yield %>

<div class = "content">
  <div class = "side_nav"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
</div>


<footer class="site_border"></footer>



</body>
</html>
